<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div id="top">

        <form id="form" method="get" action="/post">
            <input placeholder="name" name="name">
            <button id="btn">🔎</button>
        </form>

    </div>
</body>
</html>